body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 1rem;
  margin: 0;
}

#switchcontroller {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#serialports {
  flex: 1;
  margin-right: 4px;
}

#refreshserial {
  flex: 1;
}

#controllers {
  flex: 1;
  margin-right: 4px;
}

#refreshcontrollers {
  flex: 1;
}

.column {
  display: flex;
  width: 50%;
}